@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@300;400;600&family=Roboto:wght@100;300;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 75% auto; /*Es decir va a tener 2 columnas*/
    grid-template-rows: 20% auto 25%; /*Es decir va a tener 3 filas*/
    grid-template-areas: "headerPapa headerPapa"
                         "mainPapa asidePapa"
                         "footerPapa footerPapa";
    column-gap: 2%; /* espaciado entre columnas*/
    row-gap: 2%; /* espaciado entre filas*/
}


/* COSAS DE HEADER INICIO */
.header{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(139, 184, 223);
    border: 1px solid black;
    grid-area: headerPapa;
}

.contenedorHeader{
    display: flex;
    background-color: red;
    margin-left: 1rem;
    margin-top: 1rem;
}

.contenedorTitulo{
    margin-left: 1rem;
}

.imgLogo{
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

/* COSAS DE HEADER FIN */



/* COSAS DE MAIN INICIO */
.main{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(14, 252, 106);
    border: 1px solid black;
    grid-area: mainPapa;

    /* TODO Esto lo hago para que todos los 
    componentes hijos del main esten centrado 
    en el centro del main en ambos ejes X e Y*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedorMain{
    display: flex;
    flex-direction: row;
    margin: 1rem
}

.descripcionMain{
    background-color: blue;
    border: 1px solid black;
}

.descripcionLateralMain{
    background-color: rgb(165, 45, 159);
    border: 1px solid black;
    margin-left: 1rem;
}

/* COSAS DE MAIN FIN */


/* COSAS DE ASIDE INICIO */
.aside{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(63, 50, 146);
    border: 1px solid black;
    grid-area: asidePapa;
}

.contenedorBoxAside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    /* De esta manera este contenedor ocupa
     el 100% del contenedor que lo  contiene
     osea del contenedor "aside"
     */
    width: 100%; 
    height: 100%;
}

.boxAside{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;

}

/* COSAS DE ASIDE FIN */



.footer{
    text-align: center;
    font-size: 3rem;
    background-color: rgb(228, 251, 73);
    border: 1px solid black;
    grid-area: footerPapa;
}
